<%- include('partials/header') %>

<main role="main" class="inner cover">
    <h1 class="cover-heading">Wyatt Bussell</h1>
    <p class="lead">
        I am seeking a permanent opportunity in the technology field to continue
        to develop my skills and experience for my long-term career goals. I
        have a strong work ethic and driven by an entrepreneurial spirit to learn
        and develop myself in whatever environment I am in. My passion is expanding
        my knowledge in the technology field.
    </p>
    <a href="/resume" class="btn btn-lg btn-secondary">My Resume</a>

</main>

<%- include('partials/footer') %>
