<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="">
    <title>Resume | Wyatt Bussell</title>

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap css cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <link rel="stylesheet" href="css/resumeStyles.css">
    <link rel="shortcut icon" href="images/favicon.ico">

</head>

<body>
    <!-- HEADER AREA BEGINS-->

    <header>
        <div class="row">
            <div class="col-md-6">
                <h1 class="name"><a class="portfolioStyleLink" href="/">Wyatt Bussell</a></h1>
                <span class="position"> Web Developer & Game Developer</span>
                <div class="row social">
                    <div class="col-md-3 website-link links">
                        <a target="_blank" href="https://github.com/Wyjbuss">
                            <i class="fa fa-link w3-large" aria-hidden="true"></i>
                            Wyjbuss - My GitHub</a>
                    </div>
                    <div class="col-md-3 links">
                        <a target="_blank" href="https://github.com/Wyjbuss"><span class="fa fa-github w3-large"></span> /wyjbuss</a>
                    </div>
                    <div class="col-md-3 links">
                        <a target="_blank" href="https://twitter.com/BussellWyatt"><span class="fa fa-twitter w3-large"></span>@BussellWyatt</a>
                    </div>
                    <div class="col-md-3 links">
                        <a target="_blank" href="https://www.linkedin.com/in/wyatt-bussell-3810b3141/"><span class="fa fa-linkedin w3-large"></span> Wyatt Bussell</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 address">
                <br>
                <table>
                    <tbody>
                        <tr>
                            <td><span class="fa fa-map-marker w3-large"></span></td>
                            <td><span>Overland Park, Kansas</span></td>
                        </tr>
                        <tr>
                            <td><span class="fa fa-envelope-o w3-large"></span></td>
                            <td>
                                <a href="mailto:wyjbuss@gmail.com">wyjbuss@gmail.com</a>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="fa fa-phone w3-large"></span></td>
                            <td><a href="tel:9137085643">+1 913-708-5643</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div align="center">
            <hr width="90%">
        </div>
    </header>

    <!-- MAIN RESUME SECTION BEGINS -->

    <main class="row" style="max-width: 100%;">
        <div class="container-left col-md-4" >
            <section class=" summary" style="border-right: 1px solid #eee;">
                <h1>Summary</h1>
                <p class="summary-info">
                    I am seeking a permanent opportunity in the technology field to continue to develop my skills
                    and experience for my long-term career goals. I have a strong work ethic and driven by an
                    entrepreneurial spirit to learn and develop myself in whatever environment I am in. My passion
                    is expanding my knowledge in the technology field.
                </p>
            </section>
            <div align="center">
                <hr width="90%">
            </div>

            <div>
                <div>
                    <section class="skills" style="border-right: 1px solid #eee;">
                        <h1>Skills</h1>
                        <h2>Technologies</h2>
                        <div class="row">

                            <div class="col-md-4">

                                <ul>
                                    <li>Git</li>
                                    <li>GitHub</li>
                                    <li>Heroku</li>
                                    <li>Node.js</li>
                                    <li>Bootstrap</li>
                                    <li>API's</li>
                                    <li>html</li>
                                    <li>css</li>
                                </ul>

                            </div>
                            <div class="col-md-4">

                                <ul>

                                    
                                    <li>Javascript</li>
                                    <li>express</li>
                                    <li>ejs</li>
                                    <li>Next.js-<small>1 year+</small></li>
                                    <li>React</li>
                                    <li>Unity-<small>4 years</small></li>

                                </ul>

                            </div>
                            <div class="col-md-4">

                                <ul>

                                    <li>Blender</li>


                                </ul>

                            </div>


                        </div>
                        <div>
                            <h2>Languages / Frameworks</h2>
                        </div>
                        <div class="skills">
                            <span class="skills-title">
                                Next.js, Stripe, Vercel, MongoDB
                                
                            </span> 
                                My main "tech stack" I work with to make websites for myself and clients.
                        </div>

                        <div class="skills">
                            <span class="skills-title">HTML, CSS, Javascript, NodeJs, Express</span> I can use 
                            to make websites but no longer my primary technology/tech stack.
                        </div>

                        <div class="skills">
                            <span class="skills-title">C#</span> Mobile and Desktop - Used
                            this to make video games with the Unity game engine.
                        </div>

                </div>
                <div>
                    <div>
                        <h2>Topics</h2>
                    </div>
                    <span class="skills skills-inline">Web Design-Responsive/Ease of use,</span>
                    <span class="skills skills-inline">Organization practices</span>

                </div>
            </div>
            <br>
            </section>
            <div align="center">
                <hr width="90%">
            </div>

            <div>
                <section class="education" style="border-right: 1px solid #eee;">
                    <h1>Education</h1>
                    <div class="school">
                        <h2>WGU (Western Governors University) - <small>Software Development</small></h2>
                        <div>
                            <span class="fa fa-calendar"></span> &nbsp; April 2021 - Current
                        </div>
                    <div class="school">
                        <h2>Udemy(Online) - <small>Complete 2020 Web Development Bootcamp with Angela Yu</small></h2>
                        <div>
                            <span class="fa fa-calendar"></span> &nbsp; May 2020 - Jan 2021
                        </div>

                    </div>
                    <div class="school">
                        <h2>Johnson County Community College - <small>Applied Science / Computer Science</small></h2>
                        <div>
                            <span class="fa fa-calendar"></span> &nbsp; 2015 - 2018
                        </div>

                    </div>
            </div>
            </section>
            <div align="center">
                <hr align="center" width="90%">
            </div>

            </div>
        </div>
        <div class="col-md-8">

            <section class="projects">
                <h1>Projects</h1>
                <div class="projects-container row" style="margin-top: 20px; padding-left: 20px;">
                    <div class="project">
                        <div class="project-header">
                            <!-- <img class="project-logo" width="50" alt="Hotspoter Logo" src="./assets/images/projects/hotspoter.png"> -->
                            <div class="project-info">
                                <h2>Blog Site <small>Web App</small></h2>
                                <a href="https://shel-wy-blog.herokuapp.com/ " class="orangeLink linkOnHover">shel-wy-blog.herokuapp.com (currently inactive/moving)</a>
                            </div>
                        </div>

                        <div class="project-description" style="text-align: justify;">
                            <div style="padding: 5px 0px 2px 0px; color: #666;">
                                Made with a small team (Me and one Content Creater)
                            </div>
                            <div style="color: #333;">
                                This blog site is a blog I have made with a small team, myself and one
                                other person to create the content. The goal with this site was to
                                provide interesting stories to the readers as well as information.
                            </div>
                        </div>
                    </div>


                    <div class="project">
                        <div class="project-header">
                            <img class="project-logo" width="50" alt="GitHub Logo" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg">
                            <div class="project-info">
                                <h2>My Public Repositories<small> Web | GitHub</small></h2>
                                <a href="https://github.com/Wyjbuss " class="orangeLink linkOnHover">https://github.com/Wyjbuss</a>
                            </div>
                        </div>
                        <div class="project-description" style="text-align: justify;">
                            <div style="padding: 5px 0px 2px 0px; color: #666;">
                                The link above is where all my public repos are located
                            </div>
                            <div style="color: #333; padding-bottom: 20px;">
                                Most of the projects are web based projects that are done in html, css, Javascript, node.js, mongodb, and or next.js.
                                My clients repos are private and can't be viewed, but I am working on making templates of similar projects that will be public.      

                            </div>
                        </div>
                    </div>

                </div>

            </section>

           
                <hr width="90%">
          

            <section>
                <h1>Work Experience</h1>
                <div style="padding-left: 20px;">

                    <div class="company">
                        <h2>Maysville R1 School District - &nbsp;<small>Maysville, MO</small></h2>
                        <div class="timespan"><span class="fa fa-calendar blue"></span> &nbsp; July 2021 - Present</div>
                        <div class="experience-description">
                            <span>Sub Tech Assistant -> Tech Assistant</span><br>
                            In this position I took part in assisting the tech director in
                            her day to day. I would fix chromebooks, run cableing (if needed),
                            manage most content on the school website, and respond/fix techers tech issues via help desk tickets. In addition
                            I would be doing other odds and end type things.
                        </div>
                    </div>

                    <div class="company">
                        <h2>Myself: Web Developer - &nbsp;<small>Overland Park, KS</small></h2>
                        <div class="timespan"><span class="fa fa-calendar blue"></span> &nbsp; October 2020 - January 2021</div>
                        <div class="experience-description">
                            <span>Remote - Full-Stack Web Developer</span><br>
                            I create full-stack websites using the JAM (Javascript, API's, and Markup) stack. I can quickly
                            make the starts of your website and deploy it with Heroku for
                            you to see. I know JavaScript, HTML, CSS; as well as putting it
                            together with Node.js, express, ejs, and API's. Give me a call or
                            message me on Discord, mobile, email, or Skype.
                        </div>
                    </div>

                    <div class="company">
                        <h2>FedEx Freight - &nbsp;<small>Edwardsville, KS</small></h2>
                        <div class="timespan"><span class="fa fa-calendar blue"></span> &nbsp; May 2018 - Dec 2020,<small> 2 years</small></div>
                        <div class="experience-description">
                            <span>Promotion from - Dock Worker to Trucker</span><br>
                            <strong>City Driver / Trucker -</strong> Promoted from forklift driver to truck driver. Received training for approximately one month and earned my CDL license.
                            Responsibilities include driving trailers where needed that may involve transporting one or two trailers, a 53-footer, or a 53-foot rail-type container.<br>
                            <strong>Dock Worker -</strong> started as a part-time dock worker while attending school. Eventually moved into full-time status.
                            Responsibilities included using a forklift to loading freight to/from different trailers for shipping.

                        </div>
                    </div>

                    <div class="company">
                        <h2>Marbeck - &nbsp;<small>Overland Park, KS</small></h2>
                        <div class="timespan"><span class="fa fa-calendar blue"></span> &nbsp; 2016 - 2018,<small> 2 Years</small></div>
                        <div class="experience-description">
                            <span>Warehouse - Dock Worker</span><br>
                            Worked part-time while attending school earning my associate degree. Responsible
                            for fulfilling orders. I filled invoices, located the products within our warehouse, selected
                            and packed the products in the appropriate packaging, palleted, and moved to the truck for shipment.
                        </div>
                    </div>

                    <div class="company">
                        <h2>JCPenney Store - &nbsp;<small>Overland Park, KS</small></h2>
                        <div class="timespan"><span class="fa fa-calendar blue"></span> &nbsp; 2013 - 2016,<small> 3 Years</small></div>
                        <div class="experience-description">
                            <span>Store - Store/Operations Associate</span><br>
                            Responsible for receiving truck shipments, processing truck freight, pricing
                            and signing merchandise, and other customer service support tasks.


                        </div>
                    </div>
                </div>
            </section>

            
            <hr width="90%">
            


        </div>
    </main>

    <!-- FOOTER AREA BEGINS -->
   
    <footer>
        <div class="bottom-content">
            <span class="fa fa-copyright"></span> 2021 Wyjbuss
        </div>
    </footer>

</body>

</html>
