/* body{
    background-color: #fff;
    font-size: 19px;
} */
/* stylelint-disable selector-list-comma-newline-after */
/* color pallet :
#eafbea
#6f9a8d
#1f6650
#ea5e5e
*/
/* .tabNum4{
    color: #6134eb;
} */
/* .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    background-color: #6f9a8d;
  } */

/* .blog-header-logo {
    font-family: "Montserrat", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
  } */

/* .blog-header-logo:hover {
    text-decoration: none;
  } */

/*h1, h2, h3, h4, h5, h6 {
     font-family: "Montserrat", Georgia, "Times New Roman", serif;
  } */

/* .display-4 {
    font-size: 2.5rem;
  }
@media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  } */

/* .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  } */

/* .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  } */

/* .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  } */

/* .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  } */

/* .flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  } */

/* .h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }

  }
@media (max-width: 991px) {
      .displayNone {display: none;}
  } */
 /* @media (max-width: 1199px) {
     .cardTextShrink {font-size: .9rem;}
 } */

  /* Pagination */
/* .blog-pagination {
    margin-bottom: 4rem;
  }
.blog-pagination > .btn {
    border-radius: 2rem;
  } */

  /*
   * Blog posts
   */
/* .blog-post {
    margin-bottom: 4rem;
  }
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  } */

  /*
   * Blog post pg
   */
/* .entry-title{
    margin-bottom: 16px;
    text-align: left;
    padding-left: 0px;
    font-size: 34px;
    font-weight: 600;
   }
.content{
    float: left;
    width: 700px;
}
.proPicSize{
    width: 40%;
    margin-bottom: 1rem;
    margin-top: 1rem;

}
.centerImg{
    padding-left: 9rem;

}
.about-me{
    margin: auto 8rem;
}
.right-post-pg{
    text-align: center;
} */

  /*
   * Footer
   */
/* .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #eafbea;
    border-top: .05rem solid #e5e5e5;
  }
.blog-footer p:last-child {
    margin-bottom: 0;
  } */
